@import "template.less";
@import "discont.less";
html {
  height: 100%
}

html body {
  min-height: 100vh;
  display: block;
  height: auto;
  font-family: 'Fira Sans';
  line-height: 1;
  overflow-x: hidden;
  width: 100vw;
}

body.preloader_state {
  overflow: hidden;
}

body {
  width: 100%;
}

header {
  width: 100%;
  min-height: 100vh;
  display: block;
  height: auto;
  font-family: 'Fira Sans';
  line-height: 1;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  &:extend(.type_font__SemiBold);
  color: @black-dark;
  font-size: 48px;
  line-height: 60px;

}

h2 {
  color: @black-dark;
  font-size: 36px;
  line-height: 48px;
  &:extend(.type_font__SemiBold);
}

h3 {
  &:extend(.type_font__Regular);
  color: @black-dark;
  font-size: 30px;
  line-height: 36px;
}

h4 {
  color: @black-dark;
  font-size: 18px;
  line-height: 24px;
  &:extend(.type_font__Regular);
}

h5 {
  color: @black-dark;
  font-size: 16px;
  line-height: 22px;
  &:extend(.type_font__Regular);
}

p {
  color: @black-dark;
  font-size: 13px;
  line-height: 18px;
  &:extend(.type_font__Regular);
  margin: 0;
  padding: 0;
}

label {
  color: @black-dark;
  font-size: 12px;
  line-height: 16px;
  &:extend(.type_font__Regular);
}

ul li {
  color: @black-dark;
  font-size: 13px;
  line-height: 18px;
  &:extend(.type_font__Regular);
}

ul ol {
  color: @black-dark;
  font-size: 13px;
  line-height: 18px;
  &:extend(.type_font__Regular);
}

.top-header {
  .container {
    .adress {
      margin-top: 40px;
      margin-left: 15px;
      position: relative;
      p {
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        color: @black-dark;
        line-height: 24px;
        padding-left: 35px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

  }
}

.header, .header-lk {
  height: 88px;
  background: #fff;
  position: fixed;
  z-index: 33333;
  top: 0;
  width: 100%;
  transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  border-bottom: 2px solid #ececec;
  width: calc(100vw - (100vw - 100%));
  .header__logo {
    order: 1;
    width: 110px;
    height: 104px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0.5px 2.794px 10px 0 rgba(118, 118, 118, 0.13);
    position: relative;
    //margin-left: 7px;
    img {
      width: 85px;
      height: 85px;
      margin: 0 auto;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      width: 100%;
      position: absolute;
    }
  }
  .two_variant{
    box-shadow: inherit;
    background: inherit;
    width: 85px;
    height: 85px;
    img{
      width: 100%;
      position: absolute;
      max-width: 80%;
    }
  }
  .header__login-interpreter {
    order: 2;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 3px;
    .header__interpreter {
      position: relative;
      margin-right: 28px;
    }
  }
  .header__login {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .header__man-black {
      width: 22px;
      height: 22px;
      position: relative;
      z-index: 1;
      margin-top: 6px;
    }
    .header__man-orange {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 11px;
      margin-left: 7px;
      z-index: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

    }
    .header__hint {
      border: 1px solid #dedede;
      width: 170px;
      height: 22px;
      position: absolute;
      margin-left: 24px;
      margin-top: -3px;
      z-index: 3;
      background: #fafafa;
      display: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      p {
        margin: 0;
        color: @black-dark;
        font-size: 11px;
        line-height: 14px;
        &:extend(.type_font__Regular);
        margin: 0 auto;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        width: 100%;
        position: absolute;
      }
    }
    &:hover {
      cursor: pointer;
      .header__hint {
        display: block;
      }
      .header__man-orange {
        top: 9px;
        margin-left: 0;
      }
    }
  }
  .header__login__lk{
    &:hover{
      .header__man-orange {
        top: 9px;
        margin-left: 11px;
      }
    }
  }
  .header__menu {
    margin-left: 39px;
    ul {
      display: flex;
      padding-left: 0;
      justify-content: center;
      margin-bottom: 0;
      li {
        list-style: none;
        margin: 15px auto;
        .header__menu_akcii {
          &:extend(.type_font__ExtraBold);
          color: #f50c0c;
        }
        a {
          &:extend(.type_font__Bold);
          letter-spacing: 1.3px;
          text-transform: uppercase;
          font-size: 10px;
          color: @black-dark;
          line-height: 14px;
          margin-right: 13px;
          margin-left: 13px;
          display: block;
            moz-transition: color .3s ease-out,opacity .3s ease-out .5s,visibility .3s ease-out .5s,letter-spacing .3s ease-out;
            -o-transition: color .3s ease-out,opacity .3s ease-out .5s,visibility .3s ease-out .5s,letter-spacing .3s ease-out;
            -webkit-transition: color .3s ease-out,opacity .3s ease-out,visibility .3s ease-out,letter-spacing .3s ease-out;
            -webkit-transition-delay: 0s,.5s,.5s,0s;
            transition: color .3s ease-out,opacity .3s ease-out .5s,visibility .3s ease-out .5s,letter-spacing .3s ease-out;
            opacity: 1;
            visibility: visible;
          overflow: hidden;
          text-align: center;
          &:hover {
            color: @orange;
            text-decoration: inherit;
            letter-spacing: 2px;
          }
        }
        .header__menu_active {
          color: @orange;
          letter-spacing: 2px;
        }
        &:first-child{
          a{
            text-align: left;
          }
        }
      }

    }

  }
}
.header-lk .lk_two_variant{
  box-shadow: inherit;
  background: inherit;
  width: 85px !important;
  height: 113px !important;
  img{
    position: absolute;
    max-width: 90%;
  }
}
.header-lk {
  height: 115px;
}


  .info_lk_balanse {
    margin-top: -40px;
    width: 575px;
    height: 37px;
    background: #fff1c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    .score {
      h4 {
        color: #8b8b8b;
        font-size: 10px;
        line-height: 14px;
        &:extend(.type_font__SemiBold);
        margin: 0;
        span {
          color: #8b8b8b;
          font-size: 10px;
          line-height: 14px;
          &:extend(.type_font__SemiBold);
          letter-spacing: 1.3px;
        }
      }
    }
    .balance {
      h4 {
        color: #8b8b8b;
        font-size: 10px;
        line-height: 14px;
        &:extend(.type_font__SemiBold);
        margin: 0;
        span {
          color: #8b8b8b;
          font-size: 10px;
          line-height: 14px;
          letter-spacing: 1.3px;
          &:extend(.type_font__SemiBold);
        }
      }
    }
    .refill{
      a{
        color: #8b8b8b;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.3px;
        &:extend(.type_font__SemiBold);
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
          &:before {
            background: #8b8b8b;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
          }
          &:after {
            background: #8b8b8b;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 0;
            transition: all 0.3s ease-out;
          }
          &:hover {
            text-decoration: inherit;
            outline: none;
            &:before {
              width: 0;
            }
            &:after {
              width: 100%;
            }
          }
     }
    }
  }
//.first_variant{
//  display: none;
//}
.header-lk .header__menu ul {
  border-bottom: 1px solid #f5f5f5;
}


.header .header__menu ul li:first-child, .header .header__menu ul li a:first-child, .header-lk .header__menu ul li:first-child, .header-lk .header__menu ul li a:first-child{
  margin-left: 0;
}
.header .header__menu ul li:last-child, .header .header__menu ul li a:last-child, .header-lk .header__menu ul li:last-child, .header-lk .header__menu ul li a:last-child{
  margin-right: 0;
}
.header-lk .header__menu ul li {
  list-style: none;
  margin: 15px auto 10px auto;
}
.header-lk .header__menu ul {
  display: flex;
  padding-left: 0;
  justify-content: flex-start;
}
.header-lk .header__menu .header__menu__lk li{
  list-style: none;
  margin: 13px 0 10px 0;
}
.header-lk .header__menu .header__menu__lk{
  border-bottom: inherit;
  width: 60%;
}

.header__logo__lk {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  display: none;
}

.checkbox-toggle {
  display: none;
}

.header_revers_mob {
  display: none;
}

.header_revers_mob {
  display: none;
  margin: -40px auto 0 auto;
  text-align: center;
}
 .header-lk .header__login-interpreter .header__interpreter {
  position: relative;
  margin-right: 19px;
}
//.header__hint{
//  display: none;
//}

.header-lk .header__login .header__man-black {
  height: 33px;
  position: relative;
  z-index: 1;
  margin-top: 7px;
  width: 33px;
}
.header-lk .header__login .header__man-orange {
  margin-left: 16px;
}
.header-lk .header__logo {
  width: 110px;
  height: 123px;
  margin-left: 5px;
}












/* shopping */

.shopping {
  margin-top: 0;
  background: #fff1c7;
  height: 600px;
  z-index: 20;
  position: relative;
  .shopping__section {
    position: relative;
    &:before{
      background: url("../img/main/block2/patern_yellow.svg") repeat #fff1c7;
      background-position: center;
      background-size: 15px;
      position: absolute;
      width: 100%;
      height: 153%;
      content:"";
      z-index: -1;
    }
    .shopping__content {
      margin-left: 22px;
      margin-right: 17px;
      margin-top: 104px;
      margin-bottom: 100px;
      border: 7px solid #ff8d2e;
      border-radius: 5px;
      .shopping__wrapper {
        width: 405px;
        padding: 55px 0 52px 40px;
        h1 {
          text-transform: uppercase;
          &:extend(.type_font__SemiBold);
          color: @black-dark;
          font-size: 48px;
          line-height: 60px;
          margin-bottom: 20px;
        }
        h3 {
          &:extend(.type_font__Regular);
          color: @black-dark;
          font-size: 30px;
          line-height: 36px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

    }
  }
}

.wrapper {
  position: relative;
  margin-top: 80px;
  background: #fff1c7;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.shopping__foto {
  display: none;
}

.parallax-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute !important;
  z-index: 1000;
  top: 0;
  pointer-events: none;
}

.parallax-viewport ul, .parallax-viewport ul li {
  width: 100%;
  height: 100%;
  list-style: none;
}

.parallax-viewport .parallax-layer {
  position: absolute;
}

.parallax-layer1 {
  position: absolute;
  top: 46px;
  left: 844px;
  z-index: 100;

}

.parallax-layer2 {
  position: absolute;
  top: 297px;
  left: 1153px;
  z-index: 107;

}

.parallax-layer3 {
  position: absolute;
  top: 205px;
  left: 990px;
  z-index: 102;

}

.parallax-layer4 {
  position: absolute;
  top: 134px;
  left: 833px;
  z-index: 103;

}

.parallax-layer5 {
  position: absolute;
  top: 108px;
  left: 1178px;
  z-index: 106;
}

.parallax-layer6 {
  position: absolute;
  top: 162px;
  left: 1021px;
  z-index: 109;

}

.parallax-layer7 {
  position: absolute;
  top: 15px;
  left: 1142px;
  z-index: 110;

}

.parallax-layer8 {
  position: absolute;
  top: 484px;
  left: 1147px;
  z-index: 110;

}

.parallax-layer9 {
  position: absolute;
  top: -25px;
  left: 1106px;
  z-index: 104;
}

.block-white {
  position: absolute;
  width: 188px;
  background: #fff;
  height: 600px;
  left: 1105px;
  top: 0;
  z-index: 108;
}

.simple-shopping-steps {
  background: #fff;
  height: 920px;
  position: relative;
  .simple-shopping__wrapper {
    .simple-shopping-steps__title {
      position: relative;
      h2 {
        color: @black-dark;
        font-size: 36px;
        line-height: 48px;
        &:extend(.type_font__SemiBold);
        padding-top: 90px;
        padding-bottom: 100px;
        margin-left: 74px;
        letter-spacing: 1px;
        span {
          color: @black-dark;
          font-size: 30px;
          line-height: 48px;
          &:extend(.type_font__Regular);
        }
      }
    }
    .simple-shopping-steps__third {
      position: absolute;
      margin-top: -24px;
      margin-left: -10px;
      p {
        transform: rotate(270deg);
        color: #eeeeee;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        &:extend(.type_font__SemiBold);
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 93px;
          height: 2px;
          background: #eeeeee;
          top: 18px;
          left: 103px;

        }

      }
    }
  }

}
.header_menu_hamburger{
  //display: none;
}
.mob_button_header{
  display: none;
}
.advantage-purchases {
  background: #d4f7ff;
  position: relative;
  //height: 270px;
  .advantage-purchases__man-foto {
    top: -35px;
    .advantage-purchases__shadow {
      position: absolute;
      z-index: 1;
      margin-left: -6px;
      margin-top: -20px;
    }
    .advantage-purchases__foto {
      position: absolute;
      z-index: 555;
      margin-left: -13px;
      margin-top: -30px;
    }
  }
  .advantage-purchases__title {
    padding-top: 93px;
    padding-bottom: 67px;
    margin-left: 70px;
    h2 {
      line-height: 36px;
      color: @black-dark;
      font-size: 36px;
      &:extend(.type_font__SemiBold);
    }
    p {
      color: #4b4b4b;
      font-size: 30px;
      line-height: 48px;
      &:extend(.type_font__Regular);
      letter-spacing: 2.2px;
    }
  }

}

.purchases-item {
  padding-bottom: 30px;
}

.purchases-item__list {
  border-color: rgb(236, 236, 236);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-top: 20px;
  height: 240px;
  border: 1px solid #ececec;
  position: relative;
  z-index: 5555;
  .purchases-item__icon {
    height: 108px;
    margin: 0 auto;
    text-align: center;
    img {
      max-width: 100%;
      width: 70px;
      height: 65px;
    }
  }
  .purchases-item__text {
    p {
      margin-left: 27px;
      margin-right: 27px;
      color: @black-dark;
      font-size: 13px;
      line-height: 18px;
      &:extend(.type_font__Regular);
    }
  }
}

.simple-shopping-steps__section {
  position: relative;
  height: 206px;
  .simple-shopping-steps__sircle {
    width: 103px;
    height: 103px;
    border: 5px solid #ffcf9b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: inherit;
    position: absolute;
    content: '';
    z-index: 5;
    margin-left: -7px;
    top: -17px;

  }
  .simple-shopping-steps__sircle__two {
    width: 103px;
    height: 103px;
    border: 5px solid #ffaf55;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: inherit;
    position: absolute;
    content: '';
    z-index: 5;
    margin-left: -7px;
    top: -17px;

  }
  .simple-shopping-steps__sircle__third {
    width: 103px;
    height: 103px;
    border: 5px solid #ff8f00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: inherit;
    position: absolute;
    content: '';
    z-index: 5;
    margin-left: -7px;
    top: -17px;

  }
  .simple-shopping-steps__section__item {
    display: flex;
    background: #e7e7e7;
    width: 285px;
    height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 40px;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    .simple-shopping-steps__section__item__number {
      width: 83px;
      position: relative;
      h3 {
        &:extend(.type_font__SemiBold);
        color: @black-dark;
        font-size: 30px;
        line-height: 36px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    .simple-shopping-steps__section__item__title {
      p {
        &:extend(.type_font__Bold);
        color: @black-dark;
        font-size: 12px;
        line-height: 16px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        text-transform: uppercase;
        margin-left: 22px;

      }
    }
  }
  .simple-shopping-steps__information {
    margin: 10px 45px 10px 110px;
    p {
      color: @black-dark;
      font-size: 13px;
      line-height: 18px;
      &:extend(.type_font__Regular);
      margin: 0;
      padding: 0;
    }
  }
}

.shopping-shops {
  position: relative;
  background: #fff1c7;
  .shopping-shops__title {
    h2 {
      line-height: 48px;
      color: @black-dark;
      font-size: 36px;
      &:extend(.type_font__SemiBold);
      padding-top: 95px;
      padding-bottom: 57px;
      margin-left: 74px;
      letter-spacing: 1px;
      span {
        color: @black-dark;
        font-size: 30px;
        line-height: 36px;
        &:extend(.type_font__Regular);
      }
    }
  }
  .simple-shopping-steps__top-ten {
    position: absolute;
    margin-right: 0;
    z-index: 555;
    right: -27px;
    top: 107px;
    p {
      transform: rotate(270deg);
      color: #ffcf9b;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      &:extend(.type_font__SemiBold);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 93px;
        height: 2px;
        background: #ffcf9b;
        top: 18px;
        left: 103px;

      }

    }
  }
}

.shopping-shops__tabs {
  ul {
    display: flex;
    padding-left: 0;
    margin-left: 9px;
    justify-content: flex-start;
    position: relative;
    li {
      color: #a4a4a4;
      font-size: 12px;
      line-height: 16px;
      margin-right: 62px;
      text-transform: uppercase;
      padding-bottom: 3px;
      cursor: pointer;
      list-style-type: none;
      margin-bottom: 18px;
      a {
        text-transform: uppercase;
        color: #a4a4a4;
        &:extend(.type_font__Bold);
        &:hover {
          color: #ff8d2e;
          text-decoration: inherit;
        }
      }
    }
  }
}

.shopping-shops__tabs .active a {
  color: #ff8d2e !important;
}

//.element-item {
//  margin-bottom: 30px;
//  width: 255px;
//}
.gride {
  padding-left: 0;
}

.gride li {
  display: block;
  float: left;
  width: 255px;
  opacity: 1;
  padding-bottom: 30px;
  border-right: 1px solid #eff0f0;
  border-left: 1px solid #eff0f0;
}

.gride li a, .gride li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

.gride li a {
  background: #fff;
  opacity: 0.7;
}

.gride li a {
  position: relative;
  transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
  }
  &:after {
    content: '';
    position: absolute;
    background-image: url("../img/main/block5/Arrow.svg");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    opacity: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
  }
  &:hover {
    &:before {
      opacity: 0.7;
    }
    &:after {
      opacity: 1;
    }
  }
}

.shopping-shops__tabs__content {
  margin-top: 35px;
  width: 100%;
}

.shopping-shops__tabs__btn {
  margin: 63px auto 100px auto;
  text-align: center;
}

.tabs__orange {
  width: 330px;
  height: 40px;
  font-size: 11px;
  line-height: 14px;
  padding: 11px;
}

.profitable-offers__wrapper {
  border: 7px solid #ff8d2e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: #eff0f0;
  height: 340px;
  padding: 13px 10px 10px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  .profitable-offers__left {
    width: 325px;
    height: 300px;
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%;
    }
  }
  .profitable-offers__center {
    h3 {
      &:extend(.type_font__SemiBold);
      color: @black-dark;
      font-size: 30px;
      line-height: 36px;
      margin-top: 106px;
      text-align: center;
    }
    h4 {
      color: @black-dark;
      font-size: 18px;
      line-height: 24px;
      &:extend(.type_font__Regular);
    }
    .arrow {
      width: 16px;
      height: 80px;
      margin: 50px auto 0 auto;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
  .profitable-offers__right {
    width: 335px;
    height: 300px;
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%;
    }
  }
}

.slider-akcii {
  background: #d4f7ff;
  position: relative;
  z-index: 5555;
  height: 413px;
}
.persent {
  position: absolute;
  background: url("../img/main/block5-1/slider/percent.png");
  content: '';
  width: 121px;
  height: 116px;
  top: -1px;
  left: -8px;
  z-index: 44444;
  //box-shadow: 3px 9px 13px rgba(0, 0, 0, 0.15);
  p {
    color: #fff;
    margin-top: 23px;
    font-size: 30px;
    line-height: 36px;
    margin-left: 18px;
    letter-spacing: 3.5px;
    &:extend(.type_font__SemiBold);
  }
}
.slider__picture_sale .owl-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__picture_sale .item{
  height: 413px;
}

.hero-slide{
  position: relative;
  margin-top: 20px;
}
.slider_ak{
  height: 413px;
}
.slider-akcii__item {
  display: flex !important;
  align-items: flex-start;
  .slider-akcii__img {
    width: 540px;
    height: 415px;
    position: relative;
    .persent {
      position: absolute;
      background: url("../img/main/block5-1/slider/percent.png");
      content: '';
      width: 121px;
      height: 116px;
      top: -1px;
      left: -8px;
      z-index: 44444;
      p {
        color: #fff;
        margin-top: 23px;
        font-size: 30px;
        line-height: 36px;
        margin-left: 18px;
        letter-spacing: 3.5px;
        &:extend(.type_font__SemiBold);
      }
    }
    img {
      display: block;
      max-width: 100%;
      width: auto !important;
      height: auto;
      margin: 0 auto;
    }
  }
  .slider-akcii__content__all {
    padding-left: 35px;
    padding-top: 30px;
    z-index: 8;
    height: 413px;
    position: relative;
    h4 {
      color: @black-dark;
      font-size: 18px;
      line-height: 24px;
      &:extend(.type_font__SemiBold);
      margin-right: 45px;
    }
    p {
      color: @black-dark;
      font-size: 13px;
      line-height: 18px;
      &:extend(.type_font__Regular);
      margin: 11px 145px 25px 0px;
      padding: 0;
    }
    h5 {
      color: @black-dark;
      font-size: 16px;
      line-height: 22px;
      &:extend(.type_font__SemiBold);
      margin-bottom: 18px;
    }
  }
}
.slider-akcii__content__all {
  width: 100%;
  padding-left: 35px;
  padding-top: 30px;
  height: 413px;
  overflow: hidden;
  position: relative;
  h4 {
    color: @black-dark;
    font-size: 18px;
    line-height: 24px;
    &:extend(.type_font__SemiBold);
    margin-right: 20px;
    text-align: left;
  }
  p {
    color: @black-dark;
    font-size: 13px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    margin: 11px 145px 25px 0px;
    padding: 0;
    text-align: left;
  }
  h5 {
    color: @black-dark;
    font-size: 16px;
    line-height: 22px;
    &:extend(.type_font__SemiBold);
    margin-bottom: 18px;
    text-align: left;
  }
}
.loop-test2 item{
  height: 413px;
}

.slider-akcii__content__timer #timer-number-ec96db886752a810b6e35a4956f65c99-days, .slider-akcii__content__timer #timer-number-ec96db886752a810b6e35a4956f65c99-hours, .slider-akcii__content__timer #timer-number-ec96db886752a810b6e35a4956f65c99-secundes, .slider-akcii__content__timer #timer-number-ec96db886752a810b6e35a4956f65c99-minutes {
  color: #444444 !important;
  font-size: 30px !important;
}

.slider-akcii__content__timer #timer-text-ec96db886752a810b6e35a4956f65c99-days, .slider-akcii__content__timer #timer-text-ec96db886752a810b6e35a4956f65c99-hours, .slider-akcii__content__timer #timer-text-ec96db886752a810b6e35a4956f65c99-secundes, .slider-akcii__content__timer #timer-text-ec96db886752a810b6e35a4956f65c99-minutes {
  color: #a5abb8 !important;
  font-size: 11px !important;
  font-family: 'Montserrat-Regular' !important;
}

.slider-akcii__content__timer #timer-canvas-ec96db886752a810b6e35a4956f65c99-days {
  width: 80px !important;
  height: 80px !important;
}

.go_shop {
  z-index: 8;
  position: absolute;
  bottom: 0;
}

.slider-akcii__wrapper .slick-prev {
  width: 42px;
  height: 42px;
  background: #fff;
  background-image: url("../img/main/block5-1/Arrow.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  border-radius: 50%;
  background-position: center;
  transform: rotate(45deg);
}

.slider-akcii-arrow {
  position: absolute;
  margin-top: -115px;
  right: 52.5%;
}
.slider-masonry-arrow {
  position: absolute;
  margin-top: -115px;
  right: 52.5%;
  display: none;
}
.slider-masonry-arrow .prev_arrow {
  width: 42px;
  height: 42px;
  background: #fff;
  background-image: url("../img/main/block5-1/Arrow.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  border-radius: 50%;
  background-position: center;
   transform: rotate(-135deg);
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
    background: #d4f7ff;
    background-image: url("../img/main/block5-1/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    border-radius: 50%;
    background-position: center;
  }
}
.slider-masonry-arrow .next_arrow {
  width: 42px;
  height: 42px;
  background: #fff;
  background-image: url("../img/main/block5-1/Arrow.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  border-radius: 50%;
  background-position: center;
  transform: rotate(45deg);
  &:hover {
    cursor: pointer;
    background: #d4f7ff;
    background-image: url("../img/main/block5-1/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    border-radius: 50%;
    background-position: center;
  }
}
.prev_arrow {
  width: 42px;
  height: 42px;
  background: #fff;
  background-image: url("../img/main/block5-1/Arrow.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  border-radius: 50%;
  background-position: center;
  transform: rotate(45deg);
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
    background: #d4f7ff;
    background-image: url("../img/main/block5-1/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    border-radius: 50%;
    background-position: center;
  }
}

.next_arrow {
  width: 42px;
  height: 42px;
  background: #fff;
  background-image: url("../img/main/block5-1/Arrow.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  border-radius: 50%;
  background-position: center;
  transform: rotate(-135deg);
  &:hover {
    cursor: pointer;
    background: #d4f7ff;
    background-image: url("../img/main/block5-1/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    border-radius: 50%;
    background-position: center;
  }
}

 .slick-dots button {
  text-indent: -2900px;
}

.slider-akcii__wrapper .slick-dots button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
  border: inherit;
}
.slider__sale__akcii {
  background-image: url("../img/main/block5-1/slider/fon-parallax.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slider__picture_sale, .slider__sale__akcii{
  height: 413px;
}
.slider-akcii__wrapper .slick-dots {
  margin: 0 auto 20px;
  display: flex;
  height: auto;
  position: absolute;
  padding: 5px;
  text-align: center;
  justify-content: center;
  background: inherit;
  width: 200%;
  flex-wrap: wrap;
}

.slider-akcii__wrapper .slick-dots .slick-active button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/main/block6/tochka.svg");
  border-radius: 50%;
  margin: 0 auto;
  border: inherit;
}

.slider-akcii__wrapper .slick-dots li {
  list-style: none;
  margin-left: 3px;
  margin-right: 3px;
}

.simple-shopping__content-all {
  position: relative;
  height: 920px;
  &:before {
    content: '';
    position: absolute;
    width: 41%;
    background: url("../img/main/block2/patern_gray(1).svg") repeat #fafafa;
    height: 100%;
    background-size: 15px;
    right: 0;
  }
}

.together-cheaper {
  background: #fff;
  .together-cheaper__title {
    h2 {
      color: @black-dark;
      font-size: 36px;
      line-height: 48px;
      &:extend(.type_font__SemiBold);
      margin-top: 165px;
      margin-left: 65px;
    }
    h4 {
      color: @black-dark;
      font-size: 18px;
      line-height: 24px;
      &:extend(.type_font__Regular);
      margin-left: 65px;
      margin-bottom: 51px;
    }
  }
}

.together-cheaper__item {
  width: 33%;
  .together-cheaper__item__nameShop {
    position: absolute;
    width: 255px;
    height: 45px;
    background-image: url("../img/main/block5-1/slider/plashka.png");
    background-repeat: no-repeat;
    z-index: 6;
    margin-top: 25px;
    p {
      color: #ff8d2e;
      font-size: 12px;
      line-height: 14px;
      &:extend(.type_font__Bold);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      margin-left: 20px;
      margin-right: 50px;
      text-transform: uppercase;
    }
  }

  .together-cheaper__item__foto {
    width: 350px;
    height: 320px;
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%;
    }
  }
  h5 {
    color: @black-dark;
    font-size: 16px;
    line-height: 22px;
    &:extend(.type_font__SemiBold);
    margin: 16px 10px 18px 0;
  }
  .together-cheaper__item__amount-discount {
    display: flex;
    margin-bottom: 25px;
    .together-cheaper__item__amount {
      width: 37%;
      p {
        color: #ff4c29;
        font-size: 14px;
        line-height: 18px;
        &:extend(.type_font__Bold);
        margin-left: 2px;
      }
    }
    .together-cheaper__item__discount {
      width: 60%;
      p {
        color: #8b8b8b;
        font-size: 13px;
        line-height: 16px;
        &:extend(.type_font__SemiBold);
      }
    }
  }
}

.together-cheaper__item__counter {
  border: 1px solid #ececec;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  p {
    color: @black-dark;
    font-size: 16px;
    line-height: 22px;
    &:extend(.type_font__Bold);
    margin: 14px auto 25px auto;
    text-align: center;
    text-transform: uppercase;
  }
}

.together-cheaper__item__counter__information {
  display: flex;
  margin: 28px 0 16px 0;
  .l-col {
    p {
      margin-left: 10px;
      color: #434343;
      font-size: 14px;
      line-height: 18px;
      &:extend(.type_font__SemiBold);
      margin-right: 90px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: none;
      span {
        color: #434343;
        font-size: 16px;
        line-height: 18px;
        &:extend(.type_font__Bold);
        text-transform: none;
      }
    }
  }
  .r-col {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-image: url("../img/main/block6/bookmark.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      margin-left: -26px;
      margin-top: -2px;
      z-index: 3;
    }
    a {
      color: @black-dark;
      font-size: 14px;
      line-height: 16px;
      &:extend(.type_font__SemiBold);
      position: relative;
      &:before {
        background: #ff8d2e;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:after {
        background: #ff8d2e;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-out;
        width: 0;
      }
      &:hover {
        color: #ff8d2e;
        text-decoration: inherit;
        &:before {
          width: 0;
        }
        &:after {
          width: 100%;
        }
      }
      &:focus{
        outline: none;
      }
      &:active{
        outline: none;
      }
    }
  }
}
.modal-trigger{
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
.col_together {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .together-cheaper__item {
    width: 32%;
  }
}

.together-cheaper__item__come-shop {
  margin-top: 22px;
  margin-bottom: 20px;
  text-align: center;
  a {
    color: #ff8d2e;
    font-size: 14px;
    line-height: 16px;
    &:extend(.type_font__SemiBold);
    position: relative;
    &:before {
      background: #ff8d2e;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &:after {
      background: #ff8d2e;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transition: all 0.3s ease-out;
      width: 0;
    }
    &:hover {
      color: #ff8d2e;
      text-decoration: inherit;
      &:before {
        width: 0;
      }
      &:after {
        width: 100%;
      }
    }
  }
}

.together-cheaper__item__join {
  margin: 20px auto;
  text-align: center;
}

.together-cheaper__item_price {
  width: 190px;
  height: 58px;
  border: 3px solid #ff8d2e;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  p {
    &:extend(.type_font__Bold);
    color: @black-dark;
    font-size: 24px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
    text-transform: none;
    span {
      text-transform: none;
    }
  }
}

.active__tab__login {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-image: url("../img/main/block6/bookmark_oranj.svg") !important;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: -22px;
    margin-top: -14px;
    z-index: 2;
  }
  .close__tab {
    position: absolute;
    background-image: url("../img/main/block6/exit.svg");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: -25px;
    margin-top: -23px;
    right: -15px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
}

.backg_yellow {
  position: relative;
  height: 100%;
  &:before {
    content: '';
    position: absolute;
    width: 107%;
    background: url("../img/main/block2/patern_yellow.svg") repeat #fff1c7;
    height: 66%;
    background-size: 15px;
    bottom: 0;
    left: 32px;
  }
}

.shopping-shops__title {
  position: relative;
  z-index: 5;
}

.col_together .owl-dots .owl-dot, .reviews__slider .owl-dots .owl-dot {
  margin-left: 3px;
  margin-right: 3px;
}

.col_together .owl-dot, .reviews__slider .owl-dot {
  margin: 0 auto;
  text-align: center;
}

 .slider-akcii__item  .owl-dots, .col_together .owl-dots, .reviews__slider .owl-dots {
  margin: 20px auto 20px;
  display: flex;
  height: auto;
  position: absolute;
  padding: 5px;
  text-align: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  flex-wrap: wrap;
}

//.slider-akcii__item .owl-dot.active > span, .col_together .owl-dot.active > span, .reviews__slider .owl-dot.active > span {
//  display: inline-block;
//  width: 16px;
//  height: 16px;
//  background-image: url("../img/main/block6/dots.png");
//  border-radius: 50%;
//  margin: 0 auto;
//  border: inherit;
//}

.slider-akcii__item  .owl-dot > span, .col_together .owl-dot > span, .reviews__slider .owl-dot > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
}

.col_together .owl-dots .owl-dot:focus, .reviews__slider .owl-dots .owl-dot:focus {
  outline: inherit;
}

.question {
  background: #fff;
  .question__wrapper {
    position: relative;
    .question__foto-left {
      position: absolute;
      z-index: 4;
      .question__foto-left__sircle {
        left: 0;
        top: -51px;
        position: absolute;
      }
      .question__foto-left__qust {
        left: 0;
        position: absolute;
        top: -25px;
      }
    }
  }
}

.question__content__right {
  position: absolute;
  margin-top: 12px;
  right: -76px;
  p {
    transform: rotate(270deg);
    color: #eeeeee;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    position: relative;
    &:extend(.type_font__SemiBold);
    &:before {
      content: '';
      position: absolute;
      width: 93px;
      height: 2px;
      background: #eeeeee;
      top: 18px;
      left: 184px;
    }
  }
}

.question__content {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: url("../img/main/block2/patern_gray(1).svg") repeat #fafafa;
    width: 23%;
    height: 100%;
    background-size: 15px;
    left: 94px;
  }
  h2 {
    color: @black-dark;
    font-size: 36px;
    line-height: 48px;
    &:extend(.type_font__SemiBold);
    position: relative;
    margin-left: 193px;
    z-index: 5;
    margin-top: 28px;
    margin-bottom: 10px;
    padding-top: 10px;

  }
  h3 {
    color: @black-dark;
    font-size: 30px;
    line-height: 36px;
    &:extend(.type_font__Regular);
    margin-left: 193px;
  }
}

.tabs_questions__title {
  position: relative;
  border-top: 2px solid #eff0f0;
  margin-right: 50px;
  h5 {
    color: @black-dark;
    font-size: 16px;
    line-height: 22px;
    &:extend(.type_font__SemiBold);
    position: relative;
    z-index: 5;
    margin: 0 0 0 23px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
.tabs_questions .tabs_questions__title:first-child{
  border-top: inherit;
}
.question__content__all-questions, .question__content h3 {
  position: relative;
  z-index: 5;
  margin-left: 193px;
}

.show__cheaper {
  margin: 42px auto 83px auto;
  text-align: center;
}

.tabs_questions {
  margin-top: 20px;
  margin-right: 50px;
}

.tabs_questions__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  &:before {
    content: '+';
    color: #ff8d2e;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.tabs_questions__somequstion {
  border-bottom: 1px solid #eff0f0;
  margin-right: 70px;
  &:hover {
    cursor: pointer;
    .tabs_questions__arrow {
      border: 1px solid #ff8d2e;
    }
  }
}

.tabs_questions__information {
  margin-left: 50px;
  margin-right: 50px;
}

.active_arrow {
  border: 1px solid #ff8d2e;
  background: #ff8d2e;
  &:before {
    content: '-';
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tabs_questions:last-child {
  border-bottom: inherit;
}

.tabs_questions__somequstion:last-child {
  border-bottom: inherit;
}

.show__other__answers {
  margin-bottom: 96px;
  margin-top: -10px;
  margin-left: 191px;
}

.question__content {
  position: relative;
  padding-bottom: 48px;
}

.tabs_questions__title .active__title {
  &:extend(.type_font__Bold);
}

.tabs_questions__information {
  margin-bottom: 37px;
  p {
    color: @black-dark;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    margin-top: 9px;
    margin-bottom: 18px;
    text-align: left;
  }
}
.module {
  width: 100%;
  display: flex;
  height: 8px;
  justify-content: center;
  align-items: center;
  background: #b9b9b9;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards;
  position: absolute;
  top: 38%;
}


.set-question {
  position: relative;
  .set-question__line {
    height:8px;
    width:30px;
    background: #b9b9b9;
    top: 38%;
    position: absolute;
    animation-timing-function:  linear ;
    -webkit-animation: increase 2s ease-in-out;
    -moz-animation:    increase 2s ease-in-out;
    -o-animation:      increase 2s ease-in-out;
    animation:         increase 2s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes increase {
    100% {
      width: 100%;
    }
  }
}

.set-question__wrapper {
  background-image: url("../img/main/block8/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 103px;
  padding-bottom: 88px;
  width: 920px;
  margin: 0 auto;
  margin-bottom: 94px;
  h3 {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    &:extend(.type_font__SemiBold);
    margin: 0 50px -4px 97px;

  }
  h4 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    &:extend(.type_font__Regular);
    margin: 0 400px 27px 100px;
  }
  .set-question__girl {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.set-question__popup {
  margin: 20px 0 20px 96px;
}

.reviews {
  .reviews_wrapper {
    background-image: url("../img/main/block9/backgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    .reviews__title {
      text-align: center;
      h2 {
        color: @black-dark;
        font-size: 36px;
        line-height: 48px;
        &:extend(.type_font__SemiBold);
        margin-bottom: 13px;
        span {
          &:extend(.type_font__Regular);
          color: @black-dark;
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    .reviews__icon {
      width: 62px;
      height: 73px;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
  }
}

.reviews__content {
  margin-top: 55px;
}

.reviews__slider__item {
  width: 93%;
  .reviews__slider__item__aboutPerson {
    padding-left: 70px;
    .reviews__slider__item__name {
      h5 {
        color: @black-dark;
        font-size: 16px;
        line-height: 22px;
        &:extend(.type_font__Medium);
        text-align: left;
        margin-bottom: 0;
      }
    }
    .reviews__slider__item__date {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #f7f7f7;
      padding-bottom: 5px;
      .reviews__slider__item__date-left {
        p {
          &:extend(.type_font__Italic);
          color: @black-dark;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 0;
        }
      }
      .reviews__slider__item__date-stars {
        display: flex;
        .star {
          width: 15px;
          height: 15px;
          margin: 0 1px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      background-image: url("../img/main/block9/quotes.svg");
      width: 30px;
      height: 25px;
      background-repeat: no-repeat;
      left: 15px;
      margin-top: 10px;
    }
  }
  .reviews__slider__item__text {
    margin-top: 20px;
    p {
      &:extend(.type_font__Regular);
      color: @black-dark;
      font-size: 13px;
      line-height: 18px;
      text-align: left;
    }
  }

}
.owl-theme .owl-dots .owl-dot span{
  margin: 0 !important;
}
.slider-akcii__item .owl-dots, .reviews__slider .owl-dots, .reviews__slider .owl-nav {
  display: block !important;
  background: inherit;
}
.loop-test .owl-dots, .reviews__slider .owl-dots, .reviews__slider .owl-nav {
  display: block !important;
  background: inherit;
}
.loop-test .owl-dots{
  width: 200%;
  bottom: -40px;
  position: relative;
}
 .reviews__slider .owl-dots, .reviews__slider .owl-dots{
  width: 100%;
  bottom: -40px;
  position: relative;
}
.other-reviews__btn {
  margin: 73px auto 81px auto;
  text-align: center;
}

.useful-now__wrapper {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background: url("../img/main/block2/patern_yellow.svg") repeat #ffecb3;
    width: 53%;
    height: 100%;
    background-size: 15px;
    left: -35px;
  }
  .useful-now__title {
    h2 {
      color: @black-dark;
      font-size: 36px;
      line-height: 36px;
      &:extend(.type_font__SemiBold);
      margin-bottom: 50px;
      position: relative;
      padding-top: 50px;
      margin-left: 64px;
    }
  }
}

.useful-now__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .useful-now__news {
    position: relative;
    width: 31%;
    margin-bottom: 47px;
    .useful-now__news__fotoBlock {
      position: relative;
      margin-bottom: 30px;
      overflow: hidden;
      width: 350px;
      height: 350px;
      transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      .useful-now__news__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(212, 247, 255, 0.6);
        content: '';
        top: 0;
        opacity: 0;
        transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .useful-now__news__foto {
        width: 350px;
        height: 350px;
        position: relative;
        overflow: hidden;
        img {
          max-width: 100%;
          transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
          object-fit: cover;
        }
        &:before {
          content: "";
          position: absolute;
          background-image: url("../img/main/block10/Arrow.svg");
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          background-color: #d4f7ff;
          right: 0;
          background-size: 50%;
          background-position: center;
          bottom: 0;
          z-index: 5;
          transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
      &:hover {
        .useful-now__news__shadow {
          opacity: 1;
        }
        img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }
}

.useful-now__titleNews {
  margin-right: 5px;
  .useful-now__title__news {
    color: @black-dark;
    font-size: 16px;
    line-height: 22px;
    &:extend(.type_font__SemiBold);
    &:hover {
      text-decoration: inherit;
    }
  }
}

.useful-now__news__more__btn {
  margin: 0 auto 108px auto;
  text-align: center;

}

.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #fff;
  position: relative;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: -20px;
  transform: rotate(-44deg);
  &:hover {
    cursor: pointer;
    background: #ff8d2e;
    .st0 {
      fill: #fff;
    }
  }
  svg {
    width: 15px;
    height: 15px;
    transform: rotate(-1deg);
  }
  svg path {
    stroke-width: 0px;
  }
}

#js_answer {
  display: none;
  width: 540px;
}

#js_shop {
  width: 620px;
  display: none;
}
.fancybox-slide > *{
  overflow: visible !important;
}
#js_enterSite {
  width: 540px;
  display: none;
}

.popup_all__title {
  h2 {
    &:extend(.type_font__Regular);
    color: @black-dark;
    font-size: 30px;
    line-height: 36px;
    margin: 26px auto 20px auto;
    text-align: center;
  }
}

.popup_all__descript {
  p {
    color: @black-dark;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    text-align: center;
    margin: 0 10px 18px 10px;
  }
}

.popup_all__line {
  width: 75px;
  height: 2px;
  background: #acacac;
  margin: 5px auto;
  text-align: center;
  margin-bottom: 20px;
}

#js_agreement {
  display: none;
  width: 760px;
  height: 630px;
}

.popup_agreement__descript {
  margin-left: 70px;
  margin-right: 50px;
  text-align: left;
  height: 450px;
  overflow-y: scroll;
  p {
    color: @black-dark;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    text-align: left;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 10px;
  }
}

.popup_agreement__descript {
  h4 {
    color: @black-dark;
    font-size: 18px;
    line-height: 24px;
    &:extend(.type_font__Regular);
  }
}

/* scroll */

::-webkit-scrollbar-button {
  background-image: none;
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #d4f7ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #acc5ff;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

::-webkit-scrollbar {
    width: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}




::-webkit-scrollbar-button {
  background-image: none;
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}




/*  last_order */

.last-order {
  display: none;
  width: 495px;
  background: #fff;
  border: 1px solid #cef0f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 22222;
  box-shadow: 15px 10.053px 43px 3px rgba(68, 68, 70, 0.7);
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    background: url("../img/main/block2/patern_blue.svg") repeat #cdeff7;
    background-size: 15px;
    right: 0;
    top: -22px;
    height: 22px;
    left: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  h4 {
    color: @black-dark;
    font-size: 18px;
    line-height: 36px;
    &:extend(.type_font__Bold);
    position: relative;
    margin: 37px 0 23px 30px;
    &:after {
      position: absolute;
      content: '';
      width: 75px;
      height: 2px;
      background: #acacac;
      top: 37px;
      left: 0;
    }
  }
  .last-order__someOrder {
    margin-left: 30px;
    display: flex;
    margin-bottom: 10px;
    .last-order__someOrder__name {
      a {
        color: @black-dark;
        font-size: 14px;
        line-height: 18px;
        &:extend(.type_font__Regular);
        text-decoration: inherit;
        margin-right: 7px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 290px;
        white-space: nowrap;
        position: relative;
        &:before {
          background: #ff8d2e;
          bottom: 0;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
        }
        &:after {
          background: #ff8d2e;
          bottom: 0;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 0;
          transition: all 0.3s ease-out;
        }
        &:hover {
          text-decoration: inherit;
          outline: none;
          &:before {
            width: 0;
          }
          &:after {
            width: 100%;
          }
        }
      }
    }
    .last-order__someOrder__price {
      background: #f9f9f9;
      padding: 0 5px;
      p {
        color: #8b8b8b;
        font-size: 14px;
        line-height: 18px;
        &:extend(.type_font__SemiBold);
        margin-bottom: 0;
        span {
          color: #8b8b8b;
          font-size: 14px;
          line-height: 18px;
          &:extend(.type_font__SemiBold);
        }
      }
    }
  }
  .last-order__someOrder:last-child {
    margin-bottom: 30px;
  }
}

.close_order {
  position: absolute;
  content: '';
  -webkit-background-size: inherit;
  background-image: url("../img/popUps/Clouse.svg");
  background-position: right;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: -12px;
  box-sizing: 5555;
  right: 4px;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.btn__form button {
  &:active {
    border: inherit;
    outline: inherit;
  }
  &:focus {
    border: inherit;
    outline: inherit;
  }
}

.js_shop__logo {
  background: #f1f8ff;
  margin: 25px 60px 20px 60px;
  text-align: center;
  img {
    max-width: 100%;
    margin: 20px auto;
  }
  .line {
    width: 225px;
    height: 2px;
    background: #acacac;
    margin: 0 auto;
    text-align: center;
  }
  h4 {
    color: @black-dark;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    text-align: center;
    padding: 20px;
  }
}

.js_shop__logo__site {
  margin: 20px auto 35px auto;
  text-align: center;
  a {
    color: #ff8d2e;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
    text-align: center;
    position: relative;
    text-align: center;
    &:before {
      background: #ff8d2e;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &:after {
      background: #ff8d2e;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 0;
      transition: all 0.3s ease-out;
    }
    &:hover {
      text-decoration: inherit;
      outline: none;
      color: #ff8d2e;
      &:before {
        width: 0;
      }
      &:after {
        width: 100%;
      }
    }
  }
}

.js_shop__logo__tags {
  display: flex;
  margin: 25px;
  flex-wrap: wrap;
  justify-content: flex-start;
  .js_shop__logo__tags__block {
    border: 1px solid #ececec;
    background: #fafafa;
    border-radius: 25px;
    margin-bottom: 7px;
    margin-right: 6px;
    p {
      color: #8b8b8b;
      font-size: 13px;
      &:extend(.type_font__Regular);
      line-height: 15px;
      padding: 3px 10px 5px 10px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.js_shop__logo__descript {
  height: 100px;
  margin: 0 25px 25px;
  overflow-y: scroll;
  position: relative;
  background: #fff;
  -webkit-overflow-scrolling: auto;
  h4 {
    color: @black-dark;
    font-size: 14px;
    line-height: 18px;
    &:extend(.type_font__Regular);
  }
}
.fancybox-is-open .fancybox-bg{
  opacity: 1;
}
.forgot__passwordORregister {
  display: flex;
  width: 335px;
  margin: 0 auto;
  justify-content: space-between;
  .forgot__password {
    a {
      color: #8b8b8b;
      font-size: 14px;
      line-height: 18px;
      &:extend(.type_font__Regular);
      position: relative;
      overflow: hidden;
      display: block;

      &:before {
        background: #d8d8d8;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:after {
        background: #d8d8d8;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.3s ease-out;
      }
      &:hover {
        text-decoration: inherit;
        outline: none;
        &:before {
          width: 0;
        }
        &:after {
          width: 100%;
        }
      }
    }
  }
  .forgot__register {
    a {
      color: #ff8d2e;
      font-size: 14px;
      line-height: 18px;
      &:extend(.type_font__Regular);
      position: relative;
      overflow: hidden;
      display: block;

      &:before {
        background: #ffd2b7;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:after {
        background: #ffd2b7;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.3s ease-out;
      }
      &:hover {
        text-decoration: inherit;
        outline: none;
        &:before {
          width: 0;
        }
        &:after {
          width: 100%;
        }
      }
    }
  }
}

#paper {
  width: 100%;
  max-width: 1920px;
  height: 60px;
}
.planeta{
  width: 90%;
  margin-top: -20px;
  margin-left: 50px;
}
.center-input{
  width: 330px;
}



//#hero-slider{
//  max-width: 1400px;
//  width: 100%;
//}
//.slick-prev {
//  left: 5px;
//  z-index:9999;
//}
//.slick-next {
//  right: 5px;
//}
//.slick-dots {
//  bottom: -10px;
//}
//.hero-slide {
//  background-size: cover;
//  background-position: center bottom;
//  background-repeat: no-repeat;
//}
//.hero-content {
//  height: 400px;
//  display: table-cell;
//  vertical-align: middle;
//}
//.slide-message {
//  margin-bottom: 20px;
//}
//@media (min-width: 992px) {
//  .hero-content {
//    height: 500px;
//  }
//}


.animated  {
  -webkit-animation-duration : 3s  ;
  animation-duration : 3s  ;

  -webkit-animation-delay : 500ms  ;
  animation-delay : 500ms  ;
}

.animate-out {
  -webkit-animation-delay : 0ms  ;
  animation-delay : 0ms  ;
}

.profitable-offers{
  margin-bottom: 20px;
}

.owl-item {
  display: table;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  z-index: 5;
}
//.owl-carousel .item {
//  height: 80vh;
//  background-color: #fc0;
//  display: table-cell;
//  vertical-align: middle;
//  text-align: center;
//}

.slider-akcii__item .owl-nav .owl-next {

  background-image: url("../img/main/block5-1/Arrow.svg");
  height: 25px;
  right: -6%;
  position: absolute;
  top: 28%;
  width: 15px;
}
.slider-akcii__item .owl-nav .owl-prev {
    position: absolute;
    width: 42px;
    height: 42px;
    background: #fff;
    background-image: url("../img/main/block5-1/Arrow.svg");
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 50%;
    background-position: center;
    transform: rotate(45deg);
}
.slider-akcii__item .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -85px;
  display: flex;
}
.slider-akcii__item .owl-dots .owl-dot span{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
}
.owl-dots .owl-dot.active span{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/main/block6/tochka.svg");
  border-radius: 50%;
  margin: 0 auto;
  border: inherit;
}

.slider-akcii .owl-dot > span, .slider-akcii  .owl-dot > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-image: url("../img/main/block6/tochka.svg");
}
.slider-akcii .owl-nav{
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  bottom: 30px;
  max-width: 1920px;
}

.slider-akcii__item .owl-nav button.owl-next, .slider-akcii__item  .owl-nav button.owl-prev, .slider-akcii__item  button.owl-dot{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
  transform: translateX(-50%);
}
.slider-akcii,  .loop-test{
  position: relative;
}
.slider-akcii__item .owl-nav button.owl-next, .loop-test .owl-nav button.owl-next{
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff  !important;
  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  border-radius: 50%;
  background-position: center !important;
  transform: rotate(45deg);
  margin: 20px;
  right: 2%;
  top: 28%;

}

.slider-akcii__item .owl-nav button.owl-prev, .loop-test .owl-nav button.owl-prev{
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff  !important;
  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  border-radius: 50%;
  background-position: center !important;
  transform: rotate(-135deg);
  margin: 0 20px;
  right: 2%;
  top: -5%;
  transition: 0.3s;
}
.owl-carousel .owl-nav button.owl-prev:after{
  transform: rotate(-135deg);
  content: '';
  position:absolute;
  outline: none;
  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: center !important;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.owl-carousel .owl-nav button.owl-next:after{
  content: '';
  position:absolute;
  outline: none;
  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: center !important;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-akcii__item .owl-nav button.owl-next:hover, .slider-akcii__item .owl-nav button.owl-prev:hover, .loop-test .owl-nav button.owl-next:hover, .loop-test .owl-nav button.owl-prev:hover{
  background: #d4f7ff!important;
}



//.slider-akcii .owl-carousel .owl-nav button.owl-next{
//  position: absolute;
//  width: 42px;
//  height: 42px;
//  background: #fff  !important;
//  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
//  background-repeat: no-repeat !important;
//  background-size: 35% !important;
//  border-radius: 50%;
//  background-position: center !important;
//  transform: rotate(45deg);
//  margin: 20px;
//  left: 0;
//  position: relative;
//  overflow: hidden;
//}
//.slider-akcii .owl-carousel .owl-nav button.owl-prev{
//  position: absolute;
//  width: 42px;
//  height: 42px;
//  background: #fff  !important;
//  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
//  background-repeat: no-repeat !important;
//  background-size: 35% !important;
//  border-radius: 50%;
//  background-position: center !important;
//  transform: rotate(-135deg);
//  margin: 0 20px;
//  left: 0;
//  position: relative;
//  overflow: hidden;
//}

.owl-carousel .owl-nav button.owl-prev:hover{
  outline: none;
  background-image: url("../img/main/block5-1/Arrow.svg")  !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: center !important;
  }
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus{
  outline: none;
}




.owl-dots .owl-dot.active:active, .owl-dots .owl-dot:active, .owl-dots .owl-dot:focus, .owl-dots .owl-dot:focus{
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  background: #f6f6f6 !important;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;

}
.owl-theme .owl-dots .owl-dot.active span{
  background: url("../img/main/block6/tochka.svg") !important;
}
.owl-theme .owl-dots .owl-dot{
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.owl-theme .owl-dots .owl-dot span{
  margin-top: 0 !important;
  display: inline-block;
  width: 16px !important;
  height: 16px!important;
  background-color: #f6f6f6 !important;
  border-radius: 50% !important;
}
.col_together .owl-carousel .owl-nav button.owl-next, .reviews__slider .owl-carousel .owl-nav button.owl-next{
  display: none;
}
.col_together  .owl-carousel .owl-nav button.owl-next, .col_together  .owl-carousel .owl-nav button.owl-prev, .col_together  .owl-carousel button.owl-dot{
  display: none;
}
.reviews__slider  .owl-carousel .owl-nav button.owl-next,  .reviews__slider .owl-carousel .owl-nav button.owl-prev,  .reviews__slider .owl-carousel button.owl-dot{
  display: none;
}
 .reviews__slider .owl-nav{
   display: none !important;
}
.slider-akcii .owl-carousel .owl-nav button, .loop-test .owl-carousel .owl-nav button{
  position: absolute;
  overflow: hidden;
}

  .tabs_questions__somequstion{
    display: block;
  }
  .tabs_questions__information{
    display: none;
  }
  .tabs_questions__somequstion .active{
    display: block;
  }
  .tabs_questions__title:hover{
    cursor: pointer;
  }
.tabs_questions__title:hover .tabs_questions__arrow {
  border: 1px solid #ff8d2e;
}
.addTabsActive{
  &:after{
    content: '';
    position: absolute;
    background-image: url("../img/main/block6/bookmark_oranj.svg") !important;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: -22px;
    margin-top: -14px;
    z-index: 2;
  }
}
.close__tab{
  display: none;
}
.owl_useful-now .owl-prev, .owl_useful-now .owl-next{
  display: none;
}
.owl_useful-now .owl-dots {
  margin: 0 auto 20px;
  display: flex;
  height: auto;
  position: absolute;
  padding: 5px;
  text-align: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.owl_useful-now .owl-dots .owl-dot {
  margin-left: 3px;
  margin-right: 3px;
}
.owl_useful-now .owl-dot.active > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/main/block6/tochka.svg");
  border-radius: 50%;
  margin: 0 auto;
  border: inherit;
}
.owl_useful-now .owl-dot > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  border-radius: 50%;
  margin: 0 auto;
}


//.slider__content {
//  width: 100%;
//  float: left;
//  padding: 0 0 45px 0;
//  text-align: center;
//  position: relative;
//  z-index: 2;
//  opacity: 0;
//  transform: translateX(-100%);
//  -webkit-transition: all 1.2s ease;
//  -moz-transition: all 1.2s ease;
//  -o-transition: all 1.2s ease;
//  transition: all 1.2s ease;
//}

.quest__plus {
  color: #ff8d2e;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #fff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.quest__plus i {
  font-size: 11px;
}
.tabs_questions__title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.active__acord span {
  background: #ff8d2e;
}
.active__acord span i {
  color: #fff;
}
.tabs_questions__title:hover .quest__plus {
  border: 1px solid #ff8d2e;
}
.tabs_questions__line{
  border-bottom: 2px solid #eff0f0;
}
.tabs_questions__line:last-child{
  border-bottom: inherit;
}
